body{
  margin: auto;
}
div{
  font-family: sans-serif;
}
.topbar{
  background: #EEEEEE;
  height: 120px;
  border: solid #E7E7E7 1px;
}
.zero{
  margin-top: 22.5px;
  width: 69px;
  height: 75px;
  float:left;
  padding-right: 114.70px;
}
.select{
  color: #858585;
  margin-top: 50px;
  float: left;
}
.select:hover{
  color:#E5A23D;
}
.first{
  padding-right: 90px;
  padding-left: 90px;
}
.second{
  float: right;
}
.bottombar{
  background: #EEEEEE;
  height: 120px;
  border: solid #E7E7E7 1px;
}
.cpright{
  color: #858585;
  padding-top: 60px;
  float: left;
}
i{
  font-size: 30px;
  margin-top: 50px;
}
.iconSet{
  float: right;
}
.icon{
  margin-left: 7px;
  margin-right: 7px
}
.ppos{
  margin-left: 7px;
  margin-right: 180px;
}
.middle{
  width: 770px;
  height: 1200px;
  margin: 0 auto;
}
.middle>*{
  float: left;
}
.up{
  margin-top: 50px;
}
.boxleft{
  float: left;
  width: 380px;
  margin: 0;
}
.button{
  width: 225px;
  height: 70px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #F0BD5F 50%, orange 50%);
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
}
.buttonword{
  position: absolute;
  width: 225px;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  top:21px;
  bottom: 0;
  right: 0;
  left:38px;
}
.down{
  margin-top: 200px;
}
p{
  margin-top: 20px;
  color: #585858;
  line-height: 23px;
}
.left{
  float: left;
  margin-right: 50px;
}
.right{
  float: left;
}
